@use "sass:math";

$offWhite: #FBFBFB;
$offBlack: #222222;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

// simplified efficient font stack by:
// https://gist.github.com/fabricelejeune/bcdd3d4725d4e4cea672
$main: (
    huge: (
        family: 'Atkinson Hyperlegible',
        weight: 700,
        size: 3.9375rem
    ),
    big: (
        family: 'Atkinson Hyperlegible',
        weight: 400,
        size: 1.9375rem
    ),
    regular: (
        family: 'Atkinson Hyperlegible',
        weight: 400,
        size: 1rem
    ),
    small: (
        family: 'Atkinson Hyperlegible',
        weight: 400,
        size: .6875rem
    ),
    tiny: (
        family: 'Atkinson Hyperlegible',
        weight: 400,
        size: .5rem
    )
);

$code: (
    huge: (
        family: 'Roboto Mono',
        weight: 700,
        size: 3.5rem
    ),
    big: (
        family: 'Roboto Mono',
        weight: 700,
        size: 1.71875rem
    ),
    regular: (
        family: 'Roboto Mono',
        weight: 400,
        size: .89375rem
    ),
    small: (
        family: 'Roboto Mono',
        weight: 400,
        size: .6125rem
    ),
    tiny: (
        family: 'Roboto Mono',
        weight: 400,
        size: .45
    )
);

@mixin font($font-stack, $variant, $properties: family weight size) {
    $font-properties: map-get($font-stack, $variant);

    @if $font-properties {
        @each $property, $values in $font-properties {
            @if contains($properties, $property) {
                font-#{$property}: map-get($font-properties, $property);
            }
        }
    }
}

// custom property helper function
@function v($property){
    @return var(--#{$property});
}
