@keyframes pinch {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.93);
    }
}

// animated underline by 
// https://nickymeuleman.netlify.app/blog/css-animated-wrapping-underline
@mixin hoverUnderline ($element, $height, $pos, $origin, $color, $speed){
    $element: unquote($element);

    #{$element} {
        background-image: linear-gradient($color, $color);
        background-position: $origin $pos;
        background-repeat: no-repeat;
        background-size: 0 $height;
        transition: background-size $speed linear;
    }

    #{$element}:hover {
        background-size: 100% $height;
        transition: background-size $speed linear;
    }
}
