@use "sass:map";

// font sizes for media queries
$font-sizes: (
    main: (
        regular: (
            huge: 3.9375rem,
            big: 1.9375rem,
            regular: 1rem,
            small: .6875rem,
            tiny: .5rem
        ),
        tablet: (
            huge: 2.25rem,
            big: 1.8125rem
        ),
        mobile: (
            huge: 2rem,
            big: 1.5rem
        )
    ),
    code: (
        regular: (
            huge: 3.5rem,
            big: 1.71875rem,
            regular: .89375rem,
            small: .6125rem,
            tiny: .45
        ),
        tablet: (
            huge: 3.5rem,
            big: 1.125rem,
        ),
        mobile: (
            huge: 3.5rem,
            big: 1rem,
        )
    )
);

// main-"grid" sizes for media queries
$main-columns: (
    regular: (
        width: 360px,
        height: 120px,
        gap: 290px,
        flex-direction: row
    ),
    tablet: (
        width: 224px,
        height: 80px,
        gap: 128px
    ),
    mobile: (
        width: 224px,
        height: 64px,
        gap: 2.25rem,
        flex-direction: column
    )
);

// header-"grid" sizes for media queries
$header-columns: (
    regular: (
        width:  map-get(map-get($main-columns, regular), width),
        height: map-get(map-get($main-columns, regular), height),
        gap:    map-get(map-get($main-columns, regular), gap)
    ),
    tablet: (
        width:  map-get(map-get($main-columns, tablet), width),
        height: map-get(map-get($main-columns, tablet), height),
        gap:    map-get(map-get($main-columns, tablet), gap)
    ),
    mobile: (
        width: auto,
        height: 80px,
        gap: 3rem
    )
);

// margin sizes for media queries
$margins: (
    global: (
        regular: (
            sides: 2.25rem
        )
    ),
    header: (
        regular: (
            top: 1.5rem,
            bottom: 1.5rem
        )
    ),
    footer: (
        regular: (
            top: 3rem,
            bottom: 2rem,
            icons-bottom: .7rem,
            between-socials: 1rem,
            icon-size: 2rem
        ),
        tablet: (
            icon-size: 1.8125rem
        ),
        mobile: (
            between-socials: 1.5rem,
            icon-size: 1.5rem
        )
    ),
    index: (
        regular: (
            top: 0
        ),
        mobile: (
            top: 1rem
        )
    ),
    about: (
        regular: (
            bottom: 12%,
            icon-width: 2rem,
            icon-bottom: 2.5rem,
            h2-bottom: 2rem
        ),
        tablet: (
            icon-width: 1.75rem,
            icon-bottom: 1.5rem,
            h2-bottom: 1.5rem
        ),
        mobile: (
            bottom: 16%,
            icon-width: 1.625rem,
            icon-bottom: 1.2rem,
            h2-bottom: 1rem
        )
    ),
    postList: (
        regular: (
            items-bottom: 2rem
        ),
        mobile: (
            items-bottom: 2.5rem
        )
    ),
    slug: (
        regular:  (
            h1-top: 7rem,
            frontMatter: 3rem
        ),
        tablet: (
            h1-top: 3rem,
            frontMatter: 2.25rem
        ),
        mobile: (
            h1-top: 1.5rem,
            frontMatter: 2rem
        )
    )
);

// specify custom property-maps to include 
$customProps: (
    fs-main: map-get($font-sizes, main),
    fs-code: map-get($font-sizes, code),
    clm: $main-columns,
    hdc: $header-columns
);
@each $component, $sizes in $margins {
    $customProps: map.set( $customProps, mrg-#{$component}, map-get($margins, #{$component}) );
};
