@import '@/assets/css/_shared';
@import '@/assets/css/custom_props';
@import '@/assets/css/breakpoints';

@mixin setCustomPropIf($map, $condition, $prefix){
    @each $size, $elements in $map {
        @if $size == $condition {
            @each $element, $value in $elements {
                --#{$prefix}-#{$element}: #{$value};
            }
        }
    }
}

:root {
    font-size: 16px;

    // set custom properties for all breakpoints
    @each $prop, $map in $customProps {
        @include setCustomPropIf($map, regular, $prop);
    };
    @each $breakpoint, $value in $breakpoints {
        @media only screen and(max-width: $value) {
            @each $prop, $map in $customProps {
                @include setCustomPropIf($map, $breakpoint, $prop);
            };  
        };
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $offWhite;
    color: $offBlack;
    @include font($main, regular);
}

.bodyDiv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
    min-height: 100vh;
}

.fade-enter-active {
    animation: fadeIn .15s;
}

.fade-leave-active {
    animation: fadeOut .1s;
}

.slideDown-enter-active {
    animation: fadeInDown .2s;
}

.slideDown-leave-active {
    animation: fadeOutUP .1s;
}
