@import '@/assets/css/_shared';
@import '@/assets/css/media_queries';

:root {
    font-size: 16px;

    // set custom main-column properties:
    @each $orientation, $elements in $main-columns {
        @if $orientation == horizontal {
            @each $element, $value in $elements {
                --clm-#{$element}: #{$value};
            }
        }@else {
            @media (orientation: portrait) {
                @each $element, $value in $elements {
                    --clm-#{$element}: #{$value};
                }
            }
        }
    }

    // set custom header-column properties:
    @each $orientation, $elements in $main-columns {
        @if $orientation == horizontal {
            @each $element, $value in $elements {
                --hdc-#{$element}: #{$value};
            }
        }@else {
            @media (orientation: portrait) {
                @each $element, $value in $elements {
                    --hdc-#{$element}: #{$value};
                }
            }
        }
    }
    
    // custom margin properties:
    @each $size, $elements in $margins {
        @if $size == big {
            @each $element, $value in $elements {
                --mrg-#{$element}: #{$value};
            }
        }@else {
            @media only screen and(max-width: $mobileBreakpoint) {
                @each $element, $value in $elements {
                    --mrg-#{$element}: #{$value};
                }
            }
        }
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $offWhite;
    color: $offBlack;
    @include font($main, regular);
}

.bodyDiv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
    min-height: 100vh;
}
