@use "sass:math";

$columns: (
    horizontal: (
        width: 360px,
        height: 120px,
        gap: 290px
    ),
    vertical: (
        width: 520px,
        height: 120px,
        gap: 2rem
    )
);

$margins: (
    horizontal: (
        huge: 4rem,
        big: 3rem,
        regular: 2rem,
        small: 1rem,
        tiny: .5rem
    ),
    vertical: (
        huge: 4rem,
        big: 3rem,
        regular: 2rem,
        small: 1rem,
        tiny: .5rem
    )
)
