// main-"grid" sizes for media queries
$main-columns: (
    horizontal: (
        width: 360px,
        height: 120px,
        gap: 290px
    ),
    vertical: (
        width: 520px,
        height: 120px,
        gap: 2rem
    )
);

// header-"grid" sizes for media queries
$header-columns: (
    horizontal: (
        width:  map-get(map-get($main-columns, horizontal), width),
        height: map-get(map-get($main-columns, horizontal), height),
        gap:    map-get(map-get($main-columns, horizontal), gap)
    ),
    vertical: (
        width: 520px,
        height: 120px,
        gap: 2rem
    )
);

// margin sizes for media queries
$margins: (
    big: (
        900: 5rem,
        700: 2.5rem,
        600: 2.25rem,
        500: 1.5rem,
        400: 1rem,
        300: .75rem,
        200: .6rem
    ),
    small: (
        900: 1.5rem,
        700: 2.5rem,
        600: 2.25rem,
        500: 1.5rem,
        400: 1rem,
        300: .75rem,
        200: .6rem
    )
);

$mobileBreakpoint: 600px;
