@import '@/assets/css/_shared';

.slideDown-enter-active {
    animation: fadeInDown $speed500;
}

.slideDown-leave-active {
    animation: fadeOut $speed300;
}

.zoom-enter-active {
    animation: zoomIn $speed500;
}

.zoom-leave-active {
    animation: fadeOut $speed300;
}
