@import '@/assets/css/_shared';

.slideDown-enter-active {
    animation: fadeInDown $speed500;
}

.slideDown-leave-active {
    animation: fadeOut $speed300;
}

.zoom-enter-active {
    animation: zoomIn $speed500;
}

.zoom-leave-active {
    animation: fadeOut $speed300;
}

.slideLeft-enter-active {
    animation: slideInLeft $speed500;
}

.slideLeft-leave-active {
    animation: slideOutRight $speed500;
}

.slideRight-enter-active {
    animation: slideInRight $speed500;
}

.slideRight-leave-active {
    animation: slideOutLeft $speed500;
}
